.table {
    display: table;
    width: 500px;
}

.row { 
    display: table-row; 
}

.col { 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 5px;
    width: 16.666%;
}